@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
body {
  background-color: #fcdf87;
  font-family: "Indie Flower", cursive;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin-top: 1rem;
}

.todo-container {
  background-color: rgba(255, 255, 255, 0.184);
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding-top: 2rem;
  flex-direction: column;
  width: 400px;
  border-radius: 8px;
  height: 450px;
}

.header {
  position: relative;
}

input {
  text-indent: 1rem;
  font-size: 1.4rem;
  font-family: "Indie Flower", cursive;
  border: none;
  width: 270px;
  height: 36px;
  border-radius: 20px;
  background-color: rgba(240, 248, 255, 0.762);
}

.emptyImg {
  filter: invert(80%);
  opacity: 50%;
}
button {
  cursor: pointer;
}

.addBtn {
  position: absolute;
  border: none;
  font-weight: bold;
  padding: 9px 15px;
  cursor: pointer;
  border-radius: 50%;
  left: 242px;
  font-weight: bolder;
}

button {
  font-family: "Indie Flower", cursive;
  background-color: #db6255;
}

.backgroundImg {
  position: absolute;
  bottom: -64px;
  right: -74px;
  z-index: 1;
}

.emptyResim {
  text-align: center;
  padding-top: 2rem;
}
.silBtn,
.duzenBtn {
  color: #db6255;
  background-color: transparent;
  border: none;
  font-size: 1.4rem;
}

.duzenBtn {
  color: #5b5a76;
}

.custom-confirm-button-class {
  background-color: #50a870 !important; /* Butonun arka plan rengi */
  color: white !important; /* Yazı rengi */
  /* Diğer stillendirme */
}

.custom-cancel-button-class {
  background-color: #db6255 !important; /* Butonun arka plan rengi */
  color: white !important; /* Yazı rengi */
  /* Diğer stillendirme */
}

.todoList {
  margin-top: 1rem;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 300px;
}

.liste {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.note {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.buttons {
  display: flex;
  padding-top: 0.2rem;
  align-items: center;
  justify-content: center;
}

.noteText {
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}

.noteText:hover {
  white-space: normal; /* Fare hover olduğunda satır sonlarına izin verin */
  text-overflow: initial; /* Fare hover olduğunda taşma durumunu kaldırın */
}

.nextAndBack {
  color: #5b5a76;
  font-size: 2rem;
  display: flex;
  justify-content:center;
  gap: 3rem;
}

.left,
.right {
  padding: 6px;
  background-color: #db6255;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  z-index: 500;
}
