body{
  background-color: #FCDF87;
  
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin-top: 2rem;

}

.todo-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  border: 1px solid gray;
  border-radius: 8px;
  height: 450px;
  
}


.backgroundImg{
  position: absolute;
  bottom: -60px;
  right: -80px;
}

