@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
body {
  background-color: #fcdf87;
  font-family: "Indie Flower", cursive;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin-top: 1rem;
}

.todo-container {
  background-color: rgba(255, 255, 255, 0.184);
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding-top: 2rem;
  flex-direction: column;
  width: 400px;
  border-radius: 8px;
  height: 450px;
}

.header {
  position: relative;
}

input {
  border: none;
  width: 270px;
  height: 36px;
  border-radius: 20px;
  background-color: aliceblue;
}

.addBtn {
  position: absolute;
  border: none;
  font-weight: bold;
  padding: 9px 15px;
  cursor: pointer;
  border-radius: 50%;
  left: 242px;
  font-weight: bolder;
}

button {
  font-family: "Indie Flower", cursive;
  background-color: #db6255;
}

.backgroundImg {
  position: absolute;
  bottom: -60px;
  right: -80px;
}

.silBtn,
.duzenBtn {
  color: #db6255;
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
}

.duzenBtn {
  color: #5b5a76;
}
